<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyes On The Road - {{page_title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <section class="content-box">
        <div class="sub-section">
            <h2 class="sub-heading">Still Not In Oz</h2>
            <p>Whoa there, maybe you took a wrong turn! Here is a handy link to return to the site page below.</p>
            <br>
            <a href="/" class="special-link">Go Back</a>
        </div>
    </section>
</body>
</html>